.aboutTextContener {
    
    div {
        width: 84%;
        margin: 20px auto;
        

        h1 {
            padding: 14px;
            height: 47px;
            border-radius: 5px;
            background-color: $base-color;
            color: #FFFFFF;
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            font-weight: 500;
            
        }

    

        p {
            
            padding: 14px;
            background-color: $bg-color;
            color: $base-color;
            font-size: 1rem;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
        }
    }
}