#gallery {
    margin-top: 2%;
    background-color: $grey-color;
    height: 500px;
    border-radius: 25px;
    width: 86%;

    figure {
        border: 2px solid blue;
        width: 200px;
        height: 300px;

        figcaption {
            color: red;
        }
    }
}