.banner-h {
  margin-bottom: 50px;
}
.CollapseContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px;
}

.collapse {
  font-size: 18px;
  font-family: "Montserrat";
  background-color: $bg-color;
  border-radius: 10px;
  overflow: hidden;
  > div {
    padding: 25px;
  }
  .collapse-title {
    background-color: $base-color;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    border-radius: 10px;
  }
  .collapse-content {
    color: $base-color;
  }
}

//RESPONSIVE

@media screen and (min-width: 0) and (max-width: 425px) {
  .CollapseContainer {
    gap: 10px;
    padding: 0 10px;
  }

  .collapse {
    font-size: 13px;
    > div {
      padding: 20px 15px;
    }
    .collapse-title {
      padding: 10px;
    }
    .collapse-title-arrow {
      img {
        width: 15px;
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .CollapseContainer {
    gap: 10px;
    padding: 0 20px;
  }

  .collapse {
    font-size: 13px;
    > div {
      padding: 20px 15px;
    }
    .collapse-title {
      padding: 10px;
    }
    .collapse-title-arrow {
      img {
        width: 15px;
      }
    }
  }
}
