.footer {
  @include flex;
  flex-direction: column;
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
  padding: 4%;
  margin-top: 40px;

  .footerLogo {
    margin-bottom: 30px;
  }
  .footerText {
    color: #ffffff;
  }
}
