header {
  @include flex;
  justify-content: space-between;
  padding: 3% 0;
  width: 86%;
  margin: auto;

  img {
    margin-left: 20px;
  }

  nav {
    
    ul {
      @include flex;
      
      li {
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        margin: 20px;   
           
        a:visited {
          color: $base-color;
        }
      }
      li:hover {
        text-decoration: underline; 
      }
    }
  }
}
