header {
  @include flex;
  justify-content: space-between;
  padding: 3% 0;

  margin: auto;

  img {
    margin-left: 20px;
  }

  nav {
    ul {
      @include flex;

      li {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 500;
        margin: 20px;

        a:visited {
          color: $base-color;
        }
      }
      li:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 1224px) {
  header {
    width: auto;

    img {
      width: 150px;
    }
    nav {
      ul {
        li {
          font-size: 15px;
          margin: 10px;
        }
      }
    }
  }
}
//RESPONSIVE MOBILE

@media screen and (min-width: 0) and (max-width: 425px) {
  header {
    width: auto;

    img {
      width: 80px;
    }

    nav {
      ul {
        li {
          font-size: 15px;
          margin: 10px;
        }
      }
    }
  }
}
