.section-banner {
  .banner-contener {
    position: relative;
    img {
      @include bannersImg;
      margin-bottom: 20px;
    }
    .center-banner-text {
      color: #FFFFFF;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Montserrat", sans-serif;
      font-size: 2vw;
      font-weight: 500;
    }
  }
}


