@mixin flex {
    display: flex;
    align-items: center;
}

@mixin bannersImg {
    border-radius: 25px;
    width: -webkit-fill-available;
    filter: brightness(65%);
}

@mixin text-details {
    padding: 16px;
      background-color: $grey-color;
      color: $base-color;
      font-size: 1rem;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
}